body{
    background-color: black;
}

div{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}
h1{
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }

  p{
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;

  }

  img{

    border: 5px solid white;
    width: 100%;
  }
  